

<ion-content [fullscreen]="true">
 <div class="container">
  <ion-img src="assets/images/chef4.png"></ion-img>
 </div>
 <div class="cart">

  <!--Food Details Cart-->
  <div class="cart">
    
    <div class="cart-content">
      <div class="cart-title">
        <h1 class="ion-no-margin">Food |_^^_| Store </h1>
        <h5 class="ion-no-margin">Votre Restaurant en Ligne</h5>
      </div>
    </div>
    
    
    <div class="about">
     
      <p class="pa">Chez <span style="color: #6b45bc; font-weight: bolder;">Food |_^^_| Store</span> découvrez une expérience culinaire sans pareille avec notre application de restaurant en ligne ! 
        Parcourez notre menu diversifié, 
        commandez vos plats préférés en un clic et savourez la praticité à chaque bouchée. Des saveurs authentiques 
        livrées à votre porte ou prêtes à être retirées. 
      </p>
    </div>
   
  </div>
 <ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button [routerLink]="['/signup']">
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-fab-button>
 </ion-fab>
 </div>
</ion-content>
