ion-searchbar{
    --box-shadow: none;
    --background: #e1dede;
    --border-radius: 1.2rem;
    --placheholder-font-weight: 600;
    --placheholder-opacity: 0.2;


    padding: 0;
    margin-bottom: 2rem;


}