<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="main_content_div">
  <ion-buttons slot="star" class="menu_btn">
<ion-menu-button color="danger"></ion-menu-button>

  </ion-buttons>
  <div class="user_div">
    <div class="first_div">
      <ion-label class="username">Hassim Diallo</ion-label>
    </div>
    <div class="user_back" [style.backgroundImage]="'url(assets/images/chef4.png)'"></div>
  </div>
  <div class="content_div"></div>
 </div>
</ion-content>
