
//nous allons definir ici les types de polices que notre application va utiliser

@font-face{
    font-family: Gilroy;
    src: url(../assets//fonts/Gilroy-Regular.woff)
}
@font-face{
    font-family: Gilroy;
    font-weight: 600;
    src: url(../assets//fonts/Gilroy-Medium.woff)
}
@font-face{
    font-family: Gilroy;
    font-weight: 700;
    src: url(../assets//fonts/Gilroy-Bold.woff)
}
