<section class="contact">
  <div class="box">
    <h1 class="titre" >Contactez Nous</h1>
   <div >
    <div >
      <h3><ion-icon name="mail-unread-outline"></ion-icon> Email</h3>
      <p>Food|^^|Store&#64;gmail.com</p>
    </div>
     <div >
      <h3> <ion-icon name="call-outline"></ion-icon> Telephone</h3>
      <p>+221-77-662-26-82</p>
     </div>
     <div >
      <h3><ion-icon name="location-outline"></ion-icon> Address</h3>
      <p>Cité Keur-Gorgui</p>
     </div>
   </div>
            
  <div class="icon"> 
    <a href="https://www.facebook.com/">
      <ion-icon name="logo-facebook"></ion-icon></a>
  <br><br>
    <a href="https://twitter.com/i">
      <ion-icon name="logo-twitter"></ion-icon></a>
    <br><br>
    <a href="https://www.instagram.com/">
      <ion-icon name="logo-instagram"></ion-icon></a>
      <br><br>
      <a href="https://www.tiktok.com/">
        <ion-icon name="logo-tiktok"></ion-icon></a>
</div>
    </div>
</section>