<ion-app>

  <ion-menu menuId="main-menu" contentId="main">
    <ion-content>
      <!--bloc des informations de lutilisateur en session dans le side bar-->
      <div class="menu-header-bg">
        <div class="header-content">
          <img src="../assets/images/chef4.png">
          <ion-label>
            <h2>Customer</h2>
            <p>Developper web et mobile</p>
          </ion-label>
        </div>
      </div>
<!--button add branch-->
      <div class="action-button">
       <p></p>
      </div>

        <!--Le menu de note side Bar-->
      <ion-list lines="none" class="menu-items">
       <a href="home/listing" style="text-decoration: none;"> <ion-item>
          <ion-icon name="home-outline" class="active"  id="active" ></ion-icon>Page d'accueil
        </ion-item>
      </a>
      <a href="home/landing" style="text-decoration: none;">
        <ion-item >
          <ion-icon name="person-outline" class="active"></ion-icon> A propos de nous
        </ion-item>
      </a>
      <a href="home/contact" style="text-decoration: none;">
        <ion-item>
          <ion-icon name="call-outline" class="active"></ion-icon> Nous Contactez
        </ion-item>
      </a>
      <a href="home/cart" style="text-decoration: none;">
        <ion-item >
          <ion-icon name="cart-outline" class="active"></ion-icon> Consulter votre panier
        </ion-item>
      </a>




      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
