<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Validation de commande</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<h1>Formulaire de Validation </h1>
<p>Veillez reinseigner les informations ci-dessous pour valider votre commande !</p>

<div class="validation">
  <form>
    <ion-item lines="none" color="light" class="rowStyle">
      <ion-input type="text" placeholder="Nom" required></ion-input>
    </ion-item>
    <ion-item lines="none" color="light" class="rowStyle">
      <ion-input type="text" placeholder="Prenom" class="rowStyle" required></ion-input>
    </ion-item>
    <ion-item lines="none" color="light" class="rowStyle">
      <ion-input type="text" placeholder="Adresse" class="rowStyle" required></ion-input>
    </ion-item>
    <ion-item lines="none" color="light" class="rowStyle" >
      <ion-input type="paiment--" placeholder="Telephone" class="rowStyle" required></ion-input>
    </ion-item>
    <ion-item lines="none" class="rowStyleValidationButton" >
      <app-button (click)="Chekout()">
         Valider votre commande
      </app-button>
      
    </ion-item>
  </form>
</div>

<ion-item lines="none">
  <ion-label><b>Text à encoder</b></ion-label>
  <ion-input [(ngModel)]="textToCode" placeholder="Entrer L'URL"></ion-input>
</ion-item>
<ion-button color="tertiary" expand="block" (click)="createQRcode()"  show="!ShowCamera">
  <ion-icon slot="start" name="create"></ion-icon>
 Creer un Qrcode
</ion-button>
<div *ngIf="!showCamera">
  <ion-item *ngIf="textScanned" lines="none">
    <ion-label>
      <p>Texte du QR Code</p>
      <h2><b>{{ textScanned }}</b></h2>
    </ion-label>
  </ion-item>
  <ion-button expand="block" (click)="scanCode()" >
    <ion-icon slot="start" name="qr-scanner"></ion-icon>
    Scanner un QR Code
  </ion-button>
  <ion-icon *ngIf="showCamera" class="frame" name="qr-scanner"></ion-icon>
</div>

<div class="center" *ngIf="myAngularxQrCode">
  <qrcode [qrdata]=" myAngularxQrCode" size="256"   level="'M'"></qrcode> 


</div>


</ion-content>
